@import (less) 'normalize.css';
@import (less) url(http://fonts.googleapis.com/css?family=Iceland|Londrina+Outline);

@bgcolor: #010A13;
@fgcolor: #2C9AD4;
@bodyfont: 'Iceland';
@headingfont: 'Londrina Outline';

.glow(@size, @step: 5, @color: #FF0) when (@size > 0) {
  .glow((@size - @step), @step, @color);
  text-shadow+: 0 0 (1px * @size) @color;
}

.animation(@name, @rules) {
    @-webkit-keyframes @name {
        @rules();
    }
    @keyframes @name {
        @rules();
    }
    @-moz-keyframes @name {
        @rules();
    }
}

.animation(blink, {
    0%, 1.5%, 10.5% {
        text-shadow: none;
    }
    0.5%, 2%, 10%, 11% {
        .glow(20px);
    }
});

.clearfix() {
    &:before, &:after {
        content: ' ';
        display:table;
    }
    &:after {
        clear:both;
    }
}

html, body {
    display: block;
    height: 100%;
    min-height: 100%;
}

html {
    background: @bgcolor;
}

body {
    font:22px / 1 @bodyfont;
    color: @fgcolor;
}

h1, h2, h3, h4, h5, h6 {
    font:24px / 1 @headingfont;
    color: white;
    .glow(20px);
    margin-bottom: 0;
}

h1 {
    font-size: 64px;
    letter-spacing: 0.3em;
    text-align: center;
    text-transform: uppercase;
}

p {
    text-align: center;
    color: darken(@fgcolor, 30%);
}

.blink {
    -webkit-animation: blink 10s 10s infinite;
}

.blink2 {
    -webkit-animation: blink 17s 11s infinite;
}

.left {
    float: left;
    width: 300px;
    min-height: 100%;
    background: desaturate(lighten(@bgcolor, 3%), 20%);
    border-right: 3px solid @bgcolor;
    box-shadow: 0 0 10px 2px #000;
}

.scoreboard {
    background: fadeout(#000, 80%);
    div {
        .clearfix();
        margin: auto;
        min-width:600px;
        max-width:1200px;
        padding-bottom: 1em;
    }
}

.score, .high-score {
    h2 {
        font-size: 48px;
        margin: 0;
        font-family: @bodyfont;
        text-shadow: none;
        &.record {
            .glow(10px, 10px, #FFF);
        }
    }
    figcaption {
        line-height: 0;
    }
}

.high-score {
    h2 {
        color: lighten(@fgcolor, 20%);
    }
}

canvas {
    width: 128px * 5;
    height: 128px * 5;
    margin: 2em;
    background: black;
    display: block;
    float: left;
}
