@import (less) 'normalize.css';

@bgcolor: #001130;
@fgcolor: #2090CC;
@bodyfont: 'Georgia';
@headingfont: 'Trebuchet MS';

html {
    background: @bgcolor;
}
body {
    font:14px / 1.5 @bodyfont;
    color: darken(@fgcolor, 20%);
    max-width: 1200px;
    min-width: 600px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font:24px / 1 @headingfont;
}

h1 {
    font-size: 42px;
}
