doctype html
link(rel='stylesheet', href='styles.min.css')
h1 Giant 2048
p A 4x4 grid is much too small. How about 128x128? 256x256?
div.scoreboard
    span Score:
        span.score
    span High Score:
        span.high-score
canvas.game-board
script(src='main.js')
